{% extends 'anihub_app/base.html' %}

{% block title %}Inicio - AniHub{% endblock %}

{% block content %}
<div id="section-catalog" class="tab-content">
    <div class="category-row">
        <h3>Manga de acción y aventura</h3>
        <div id="list-manga" class="anime-scroll"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    async function loadCatalog() {
        const token = localStorage.getItem('access_token');
        console.log(token)

        try {
            const response = await fetch('/api/catalog/', {
                method: 'GET',
                headers: {
                    'Authorization': `Token ${token}`,
                    'Content-Type': 'application/json'
                }
            });

            if (response.status === 401) {
                throw new Error("Token inválido o expirado")
            }

            const data = await response.json();
            const mid = Math.ceil(data.catalog.length / 2);
            renderItems(data.catalog.slice(0, mid), 'list-manga');
        } catch (e) {
            // Datos de respaldo simulados que coinciden con los IDs del Seeder si la API externa falla
            const dummy = [
                { id: 1, image_url: 'https://images.justwatch.com/poster/8575005/s332/berserk' },
                { id: 2, image_url: 'https://covers.openlibrary.org/b/id/12711559-L.jpg' },
                { id: 3, image_url: 'https://images.justwatch.com/poster/302302324/s332/monster-2004' }
            ];
            renderItems(dummy, 'list-manga');
        }
    }

    function renderItems(items, containerId) {
        const container = document.getElementById(containerId);
        if (!container) return;
        
        container.innerHTML = items.map(i => {
            // Definimos un ID por defecto (1) si el item del catálogo no trae uno explícito
            const mangaId = i.id || 1;
            
            // Construimos la URL dinámica apuntando a la estructura establecida en urls.py (/manga/read/ID/)
            const targetUrl = `/manga/read/${mangaId}/`;

            return `
                <div class="anime-card" onclick="window.location.href='${targetUrl}'" style="cursor:pointer;">
                    <img src="${i.image_url}" onerror="this.src='https://via.placeholder.com/120x180'">
                </div>
            `;
        }).join('');
    }

    loadCatalog();
</script>
{% endblock %}